@import "../variables";

form {
  dl {
    overflow: auto;
  }

  dt, dd {
    display: inline-block;
    float: left;
  }

  dt + dd + dt,
  dd + dt + dd {
    margin-top: $spacing-small;
  }

  dt {
    width: 25%;
  }

  dd {
    width: 75%;

    #{$inputs} {
      width: 100%;
    }
  }
}

fieldset {
  &.actions {
    direction: rtl;
  }

  & + fieldset {
    margin-top: $spacing-default;
  }

  legend {
    font-size: 1.5em;
    line-height: 150%;
    margin-bottom: $spacing-default;
  }
}
