$color-brand: #F16724;
$color-warning: #FFBF00;
$color-action: #99CC00;
$color-info: #3399CC;
$color-danger: #D70014;
$color-dark: #333333;
$color-mid: #666666;
$color-muted: #999999;
$color-light: #DDDDDD;
$color-bright: #EFEFEF;
$color-white: #FFFFFF;

$color-shadow: rgba(black, 0.075);
