@import "all";

article {
  width: 80%;
  margin: 15px auto;

  & > section {
    margin-bottom: 75px;

    & > h1 {
      border-bottom: 1px inset;
      text-align: center;
    }
  }
}

#color-palette {
  text-align: center;

  li {
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    margin: 15px;
  }
}

form {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}
